### Stock Price predictions

In [56]:
import pandas as pd
import numpy as np

In [57]:
datas = pd.read_csv('data/NFLX.csv')

In [58]:
datas

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900
...,...,...,...,...,...,...,...
1004,2022-01-31,401.970001,427.700012,398.200012,427.140015,427.140015,20047500
1005,2022-02-01,432.959991,458.480011,425.540009,457.130005,457.130005,22542300
1006,2022-02-02,448.250000,451.980011,426.480011,429.480011,429.480011,14346000
1007,2022-02-03,421.440002,429.260010,404.279999,405.600006,405.600006,9905200
1008,2022-02-04,407.309998,412.769989,396.640015,410.170013,410.170013,7782400

In [59]:
datas['Date'] = pd.to_datetime(datas['Date'])
datas['year'] = datas['Date'].dt.year
datas['month'] = datas['Date'].dt.month
datas['day'] = datas['Date'].dt.day
datas.head(3)

,Date,Open,High,Low,Close,Adj Close,Volume,year,month,day
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100,2018,2,5
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800,2018,2,6
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500,2018,2,7

In [60]:
datas.drop('Date', axis=1, inplace=True)
datas.head(2)

,Open,High,Low,Close,Adj Close,Volume,year,month,day
0,262.000000,267.899994,250.029999,254.259995,254.259995,11896100,2018,2,5
1,247.699997,266.700012,245.000000,265.720001,265.720001,12595800,2018,2,6

In [61]:
datas.shape

(1009, 9)

In [62]:
datas.isnull().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
year         0
month        0
day          0
dtype: int64

In [63]:
datas.duplicated().sum()

np.int64(0)

In [64]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1009 non-null   float64
 1   High       1009 non-null   float64
 2   Low        1009 non-null   float64
 3   Close      1009 non-null   float64
 4   Adj Close  1009 non-null   float64
 5   Volume     1009 non-null   int64
 6   year       1009 non-null   int32
 7   month      1009 non-null   int32
 8   day        1009 non-null   int32
dtypes: float64(5), int32(3), int64(1)
memory usage: 59.2 KB

In [65]:
datas.describe()

,Open,High,Low,Close,Adj Close,Volume,year,month,day
count,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1.009000e+03,1009.000000,1009.000000,1009.000000
mean,419.059673,425.320703,412.374044,419.000733,419.000733,7.570685e+06,2019.595639,6.540139,15.717542
std,108.537532,109.262960,107.555867,108.289999,108.289999,5.465535e+06,1.155997,3.428207,8.759264
min,233.919998,250.649994,231.229996,233.880005,233.880005,1.144000e+06,2018.000000,1.000000,1.000000
25%,331.489990,336.299988,326.000000,331.619995,331.619995,4.091900e+06,2019.000000,4.000000,8.000000
50%,377.769989,383.010010,370.880005,378.670013,378.670013,5.934500e+06,2020.000000,7.000000,16.000000
75%,509.130005,515.630005,502.529999,509.079987,509.079987,9.322400e+06,2021.000000,10.000000,23.000000
max,692.349976,700.989990,686.090027,691.690002,691.690002,5.890430e+07,2022.000000,12.000000,31.000000

In [ ]:
x = datas.drop("Close", axis=1)
y = datas['Close']
y.shape

(1009,)

In [73]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)

In [77]:
from sklearn.preprocessing import StandardScaler
sclr = StandardScaler()
X_train = sclr.fit_transform(X_train)
X_test = sclr.fit_transform(X_test)
X_test

array([[-0.82183555, -0.84417075, -0.80580145, ..., -1.42451179,
        -0.65480743,  0.15524438],
       [ 2.32224132,  2.25337571,  2.21657319, ...,  1.24810166,
         1.13263988, -1.26521463],
       [ 2.09518272,  2.23072094,  2.11345247, ...,  1.24810166,
         1.13263988, -0.39108601],
       ...,
       [-0.73760975, -0.77402753, -0.76960344, ...,  0.35723051,
        -1.84643897, -0.60961817],
       [ 0.5949117 ,  0.56191964,  0.57229123, ...,  0.35723051,
         0.53682411,  0.70157477],
       [-1.4519493 , -1.40052498, -1.41914069, ..., -0.53364064,
         0.53682411,  1.029373  ]])

In [78]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
pred =lr.predict(X_test)
pred

array([329.42989322, 650.91000009, 664.22143862, 623.36899472,
       512.64299104, 355.82801244, 522.24486432, 274.60085577,
       355.07860918, 497.4486111 , 499.7343272 , 576.10903154,
       477.12075964, 509.41112976, 293.37369744, 540.73665775,
       482.90060305, 299.11606169, 534.87253706, 385.45799294,
       301.44863399, 300.35260311, 278.89124161, 482.78819556,
       476.62427347, 324.07157861, 603.48142615, 668.70859448,
       496.77413618, 366.30107353, 660.65235487, 505.70156452,
       477.08328049, 312.95214564, 531.26594606, 433.7015514 ,
       480.76477266, 477.12075964, 295.77182196, 436.17463237,
       339.80927187, 336.408827  , 589.97318856, 566.00132408,
       329.42989322, 331.56572361, 424.53996007, 422.8912388 ,
       391.45330332, 299.35963077, 332.53059384, 345.97322206,
       370.45097787, 510.87248523, 462.1792968 , 367.03175079,
       386.36665895, 366.89124119, 288.20271865, 297.00833341,
       353.89827198, 330.59147633, 307.51887365, 291.05050218,
       511.14418452, 623.46264905, 524.09970362, 348.20273489,
       669.54227502, 514.9662144 , 517.76714266, 311.57509556,
       622.40409638, 495.4158402 , 275.85612225, 542.0200254 ,
       482.74136839, 495.13479196, 336.66174409, 473.57977706,
       537.72966861, 498.35727712, 304.71794538, 292.95214054,
       354.37603309, 472.15587171, 243.86549638, 493.61723228,
       493.87952642, 525.42989843, 310.63832743, 362.98493497,
       507.59379679, 355.63129863, 390.47908508, 465.01770234,
       334.18866312, 530.10436201, 557.97321375, 369.54231185,
       431.37835615, 551.17226872, 359.32216785, 280.31514789,
       379.86548629, 447.29406627, 282.66641622, 324.79287976,
       296.7179381 , 349.35494095, 503.27530978, 422.60084349,
       579.94043847, 315.16290436, 367.84676342, 461.55167808,
       481.23315672, 599.12543095, 375.34090842, 341.42051399,
       273.95448389, 333.53294229, 647.51890416, 471.50952794,
       296.59618166, 375.24722599, 303.52826017, 487.16291488,
       370.6383137 , 317.86080125, 598.16058975, 370.22613385,
       467.94041515, 506.22615186, 585.95447391, 513.64533949,
       540.10903904, 317.50482468, 543.82803847, 289.98257247,
       380.68046988, 365.38305856, 526.86312369, 308.2402029 ,
       294.0106932 , 294.59148476, 322.59149715, 332.21209549,
       300.50248882, 512.50250954, 353.83269165, 470.43222117,
       465.52356556, 292.88655928, 519.5844747 , 320.37133327,
       291.60319163, 539.26592524, 426.94746071, 277.42053719,
       379.63129426, 366.42285713, 335.4252036 , 320.17461946,
       274.54465249, 629.66404936, 368.98962147, 339.32216275,
       475.01303136, 358.78820346, 319.53762463, 369.96383971,
       273.14887735, 359.50015567, 502.80692572, 358.08562737,
       342.04816081, 372.27765792, 616.67108014, 325.28936593,
       273.69218975, 404.72731984, 412.12778241, 371.01301533,
       465.24254637, 496.75541112, 297.79524393, 297.86079615,
       574.18866813, 330.05754098, 350.40411656, 578.07627833,
       367.15353533, 526.02944409, 353.90764902, 486.02943388,
       492.44627212, 515.53762984, 353.85144575, 333.01770296,
       484.8865749 , 272.78352373])

In [84]:
from sklearn.metrics import r2_score,mean_squared_error
# r2_score(y_test,pred)
mean_squared_error(y_test,pred)

np.float64(55.20599708912555)

In [88]:
def fpred(open, high, low, adjclose, volume, year, month, day):
    features = np.array([[open, high, low, adjclose, volume, year, month, day]])
    features = sclr.transform(features)
    predictions = lr.predict(features).reshape(1, -1) 
    return predictions[0]

In [89]:
open=200.45
high=250.45
low=150.45
adjclose=100.34
volume=100.45
year=2020
month=8
day=4
res = fpred(open,high,low,adjclose,volume,year,month,day)
print(res)

[11130.22286989]